{% extends "base.html" %}
{% from "macros/form_field.html" import form_field %}

{% block title %}Edit {{ book.title }}{% endblock %}

{% block content_title %}Edit {{ book.title }}{% endblock %}

{% block content %}
  <form action="{{ url_for('books.edit', id=book.id) }}" class="form form-horizontal" method="post">
    {% for field in form %}
    {% if field.name != 'lpe_boxes' %}
      {{ form_field(field) }}
    {% endif %}
    {% endfor %}
    <div style="text-align: center;">
      <h4>Learning Plan Elements</h4>
    </div>
    <ul style="list-style-type: none; -webkit-column-count: 3; -moz-column-count: 3; column-count: 3;">
    {% for lpe in lpes %}
      <li>
        {% if lpe.value in book.lpelements %}
          <input type="checkbox" id="{{ lpe.description }}" name="lp_checkbox" value="{{ lpe.value }}" checked>
        {% else %}
          <input type="checkbox" id="{{ lpe.description }}" name="lp_checkbox" value="{{ lpe.value }}">
        {% endif %}
        <label for="{{lpe.description}}">{{lpe.description}}</label>
      </li>
    {% endfor %}
    </ul>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <button type="submit" class="btn btn-default">Save</button>
        <a class="btn" href="{{ url_for('books.detail', id=book.id) }}">Cancel</a>
      </div>
    </div>
  </form>
{% endblock %}