{% extends "books/base_books.html" %}

{% block content_title %}Welcome to the LMO Orff Book Search!{% endblock %}

{% block content %}
  <div style="font-size: large;">
    <p>Thank you for taking the time to vist the LMO Orff Book Search engine!</p>
    <p>Seach options include:</p>
    <ul>
      <li>View all books in alphabetical order 
        <ul><li>Click <strong>Books</strong> in the navigation bar</li></ul>
      </li>
      <li>Search books by keyword in Author and Title
        <ul><li>Enter search term in sidebar <strong>text field</strong> and click the <strong>Go</strong> button</li></ul>
      </li>
      <li>Search books by Learning Plan Element (e.g. <b>Folk Tale/Drama</b> or <b>Recorder</b>) 
        <ul><li>Click <strong>LP Element Search</strong> in the navigation bar</li></ul>
      </li>
    </ul>
  </div>
{% endblock %}